/* 
1. VARIABLES & RESET
2. BASE STYLES (Typography, Links)
3. LAYOUT (Header, Footer)
4. COMPONENTS (Buttons, Cards)
5. PAGE-SPECIFIC STYLES
*/

/* --- 1. VARIABLES & RESET --- */
:root {
  --cp: #2c3e50;
  --cb: #ffffff;
  --cb2: #e0e0e0;
  --ca: #0051ca;
  --ca2: #001d47;
  --ca3: #bbd6ff;
  --font-main: 'Inter', sans-serif;
  --base-size: clamp(16px, 1.4vw, 32px);
  --max-width: calc(40 * var(--base-size));
  font-size: var(--base-size);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- 2. BASE STYLES --- */
body {
  font-family: var(--font-main);
  line-height: 1.6;
  background: var(--cb);
  color: var(--cp);
  display: grid;
  justify-items: center;
}

a {
  color: inherit;
}

form {
  display: grid;
  gap: 1rem;
  justify-items: start;
}

h2 {
  width: 100%;
  padding-top: 1rem;
  margin-top: 0.5rem;
  border-top: 0.1rem solid var(--cb2);
}

/* --- 3. LAYOUT --- */
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
  border-bottom: 0.1rem solid var(--cb2);
  
  .home-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    
    img {
      height: 1.5rem;
      width: auto;
    }
  }

  .main-nav {
    display: inline-flex;
    gap: 1rem;
    align-items: center;  
  }
}

main {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width);
  min-height: 80vh;
  padding: 1rem;
  gap: 1rem;
}

footer {
  padding: 1rem;
}

/* --- 4. COMPONENTS --- */
.clk-inline {
  color: var(--ca);
}

.clk-solid {
  display: inline-block;
  background: var(--ca);
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem;
  color: var(--cb);
  border: 0.1rem solid var(--ca2);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.job-link-card {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto auto;
  gap: 0 0.5rem;
  text-decoration: none;
  border-top: 0.1rem solid var(--cb2);
  
  .logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    grid-row: span 2;
    background: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--cb2);
  }

  div {
    display: flex;
    align-items: center;
    gap: 0 1rem; 
    flex-wrap: wrap;
    
    em {
      font-size: 0.9rem;
    }
  }

  &:hover {
    color: var(--ca);
    
    .logo {
      border-color: var(--ca);
    }
  }
}

/* --- 5. PAGE-SPECIFIC --- */
/* Use prefixes to keep these isolated */
.home-hero {
  height: 60vh;
  display: flex;
  align-items: center;
}