/* 
1. VARIABLES & RESET
2. BASE STYLES (Typography, Links)
3. LAYOUT (Header, Footer)
4. COMPONENTS (Buttons, Cards)
5. PAGE-SPECIFIC STYLES
*/

/* --- 1. VARIABLES & RESET --- */
:root {
  --cp: #2c3e50;
  --cb: #ffffff;
  --cb2: #efefef;
  --cb3: #d0d0d0;
  --ca: #106673;
  --ca2: #08343b;
  --ca3: #c3eff7;
  --font-main: 'Figtree', sans-serif;
  --base-size: clamp(16px, 1.4vw, 32px);
  --max-width: calc(40 * var(--base-size));
  font-size: var(--base-size);
}

.light-only {display: initial;}
.dark-only {display: none;}

@media (prefers-color-scheme: dark) {
  :root {
    --cp: #d1dce6;
    --cb: #202425;
    --cb2: #1b1e1f;
    --cb3: #343940;
    --ca: #5cacb8;
    --ca2: #2b5b62;
    --ca3: #1a373c;
  }
  
  .light-only {display: none;}
  .dark-only {display: initial;}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- 2. BASE STYLES --- */
body {
  font-family: var(--font-main);
  line-height: 1.6;
  background: var(--cb);
  color: var(--cp);
  display: grid;
  height: 100vh;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
  justify-items: start;
  gap: 0 1rem;
  
  @media screen and (max-width: 720px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
}

a {
  color: inherit;
}

form {
  display: grid;
  gap: 1rem;
  justify-items: start;
}

h1 {
  color: var(--ca);
  font-size: 1.33rem;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
  img {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.3rem;
  }
}

h2 {
  width: 100%;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

h3 {
  padding: 0.5rem;
}

.only-mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .only-mobile {
    display: initial;
  }
}

/* --- 3. LAYOUT --- */
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
  border-bottom: 0.1rem solid var(--cb2);
  background: var(--cb2);
  
  .home-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    
    img {
      height: 3rem;
      width: 3rem;
      object-fit: contain;
      border-radius: 0.2rem;
    }
  }
  
  .clk-solid.profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 0.7rem;
  }
}

main {
  width: 100%;
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: 1rem;
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  
  .content {
    display: grid;
    width: 100%;
    max-width: 100vh;
    padding: 0;
    padding-right: 1rem;
    gap: 1rem;
    padding-bottom: 25vh;
  }
  
  @media screen and (max-width: 720px) {
    & {
      grid-column: 1 / -1;
      grid-template-columns: 1fr;
    }
    
    .content {
      padding-right: 0;
    }
    
  }
}

nav.main-menu {
  width: 100%;
  padding: 2rem 3rem 2rem 1.25rem;
  border-right: 0.1rem solid var(--cb2);
  background: var(--cb2);
  
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  img {
    height: 1.2rem;
    width: 1.2rem;
    margin-bottom: 0.2rem;
  }
  
  label {
    display: none;
  }
  
  input {
    display: none;
  }
  
  @media screen and (max-width: 720px) {
    & {
      border-right: none;
      position: fixed;
      width: 100%;
      bottom: 0;
      padding: 1rem;
    }
    
    label {
      display: block;
    }
    
    .link-list {
      display: none;
    }
    
    input:checked + .link-list {
      display: flex;
      position: fixed;
      bottom: 3.5rem;
      width: 100%;
      left: 0;
      background: var(--cb2);
      padding: 2rem 1rem;
    }
  }
}

section {
  max-width: 100%;
}

section>h1 {
  margin-bottom: 1rem;
}

/* --- 4. COMPONENTS --- */
ol {
  list-style-position: inside;
}

ul {
  list-style-position: inside;
}

li>p {
  display: inline;
}

.clk-inline {
  color: var(--ca);
  display: inline-flex;
  gap: 0.2rem;
  align-items: center;
  transform: translateY(0.25rem);
  
  img {
    height: 1.2rem;
    width: 1.2rem;
  }
  
}

.clk-solid {
  display: inline-flex;
  background: var(--ca3);
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  height: 2.2rem;
  align-content: center;
  align-items: center;
  color: var(--cp);
  border: 0.1rem solid var(--ca2);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  gap: 0.3rem;
  
  img {
    height: 1.3rem;
    width: 1.3rem;
    margin-bottom: 0.2rem;
  }
}

.job-link-card {
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 3rem 1fr;
  grid-template-rows: auto auto;
  gap: 0.33rem 1rem;
  text-decoration: none;
  border-bottom: 0.1rem solid var(--cb2);
  
  .logo {
    width: 3.33rem;
    height: 3.33rem;
    object-fit: contain;
    grid-row: span 2;
    background: #ffffff;
    border-radius: 0.2rem;
    padding: 0.33rem;
    border: 0.1rem solid var(--cb3);
  }

  div {
    display: flex;
    align-items: center;
    gap: 0 1rem; 
    flex-wrap: wrap;
    
    span {
      display: inline-flex;
      gap: 0.2rem;
      align-items: center;
    }
    
    img {
      height: 1.2rem;
      width: 1.2rem;
      margin-bottom: 0.2rem;
    }
    
    em {
      font-size: 0.9rem;
    }
  }
  
  .match-score {
    background: var(--ca2);
    color: var(--ca3);
    font-size: 0.7rem;
    display: inline-block;
    padding: 0.2rem 0.4rem 0.15rem 0.5rem;
    border-radius: 0.1rem;
  }

  &:hover {
    color: var(--ca);
    
    .logo {
      border-color: var(--ca);
    }
  }
}

#loading-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0 , 0, 0, 0.6);
  backdrop-filter: blur(4px);
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  display: grid;
  display: none;
  place-content: center;
}

/* --- 5. PAGE-SPECIFIC --- */
/* Use prefixes to keep these isolated */
.custom-resume-hero {
  padding: 0.5rem;
  background: var(--ca3);
  border-radius: 0.2rem;
  display: grid;
  gap: 0.5rem;
  border: 0.1rem solid var(--cb2);
  
  form {
    display: inline-flex;
  }
}

.home-hero {
  height: 60vh;
  display: flex;
  align-items: center;
}

.job-feed-filters {
  
  .icon {
    height: 1.4rem;
    width: 1.4rem;
    vertical-align: -0.25rem;
  }
  
  em {
    font-size: 0.9rem;
  }
  
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 0 0.5rem;
  }
  
  form>div {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 0.125rem;
    align-items: center;
    background: var(--cb2);
    padding: 0.25rem 0.75rem;
    border-radius: 4rem;
    border: 0.1rem solid var(--cb3);
  }
  
  form>div:has(*:focus) {
    border-color: var(--ca);
  }
  
  input {
    background: none;
    outline: none;
    border: none;
    color: var(--cp);
    margin-left: 0.5rem;
    font-family: inherit;
  }
  
  select {
    background: none;
    outline: none;
    border: none;
    color: var(--cp);
    font-family: inherit;
  }
  
  option {
    background: var(--cb2);
  }
  
  #location-input-container {
    position: relative
  }
  
  #location-suggestions-box {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 20rem;
    max-width: 90vw;
    
    background: var(--cb2);
    padding: 0.5rem;
    border: 0.1rem solid var(--cb3);
    border-radius: 0.2rem;
    display: none;
    
    &>p {
      display: none;
    }
    
    .results:empty + p {
      display: block;
    }
    
    .result {
      padding: 0.25rem 0;
      cursor: pointer;
    }
  }
  
  input:focus + #location-suggestions-box {
    display: inline-block;
  }
}

.job-page-hero {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  align-content: center;
  gap: 0.5rem 1rem;
  
  padding: 1rem 0 2rem 0;
  border-bottom: 0.1rem solid var(--cb2);
    
  .logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--cb2);
    grid-row: span 2;
  }
  
  h1 {
    align-self: center;
  }
  
  .attr {
    display: flex;
    align-items: center;
    gap: 0 1rem; 
    flex-wrap: wrap;
    
    span {
      display: inline-flex;
      gap: 0.25rem;
      align-items: center;
    }
    
    img {
      height: 1.3rem;
      width: 1.3rem;
      margin-bottom: 0.25rem;
    }
    
    em {
      font-size: 0.9rem;
    }
  }
}

.job-page-actions {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  border-bottom: 0.1rem solid var(--cb2);
  
  &>div {  
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
    padding-bottom: 1.5rem;
  }
  
  .match-score {
    display: inline-flex;
    gap: 0rem;
    border-radius: 7rem;
    background: var(--cb2);
    color: var(--cp);
    height: 4rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    border: 0.25rem solid var(--cb3);
  }
  
  .match-score span {
    font-size: 1.2rem;
    font-weight: 900;
  }
  
  .match-score em {
    font-size: 0.4rem;
  }

}

.job-page-description>* {
  margin: 1rem 0;
}

.profile-resume {
  iframe.current-resume {
    width: 100%;
    height: 100vh;
  }
}


.credit-use-log .table-container {
  max-width: calc(100vw - 17rem);
  overflow-x: auto;
  
  @media screen and (max-width: 720px) {
    & {
      max-width: calc(100vw - 2rem);
    }
  }
}


.credit-use-log table {
  border-collapse: collapse;
  max-width: 100%;
}

.credit-use-log th {
  background: var(--cb2);
  border-top: 0.1rem solid var(--cb3);
  border-bottom: 0.1rem solid var(--cb3);
  text-align: left;
  color: var(--ca);
  padding: 0.7rem 1rem;
}

.credit-use-log td {
  border-bottom: 0.1rem solid var(--cb3);
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.credit-use-log td img {
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: -0.24rem;
}