/* 
1. VARIABLES & RESET
2. BASE STYLES (Typography, Links)
3. LAYOUT (Header, Footer)
4. COMPONENTS (Buttons, Cards)
5. PAGE-SPECIFIC STYLES
*/

/* --- 1. VARIABLES & RESET --- */
:root {
  --cp: #2c3e50;
  --cb: #ffffff;
  --cb2: #efefef;
  --ca: #0051ca;
  --ca2: #001d47;
  --ca3: #bbd6ff;
  --font-main: 'Figtree', sans-serif;
  --base-size: clamp(16px, 1.4vw, 32px);
  --max-width: calc(40 * var(--base-size));
  font-size: var(--base-size);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cp: #d1dce6;
    --cb: #25292e;
    --cb2: #161a1f;
    --ca: #56c3d1;
    --ca2: #174d54;
    --ca3: #0e2f33;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- 2. BASE STYLES --- */
body {
  font-family: var(--font-main);
  line-height: 1.6;
  background: var(--cb);
  color: var(--cp);
  display: grid;
  height: 100vh;
  grid-template-columns: 15rem 1fr;
  grid-template-rows: auto 1fr;
  justify-items: start;
  gap: 0 1rem;
  
  @media screen and (max-width: 720px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
}

a {
  color: inherit;
}

form {
  display: grid;
  gap: 1rem;
  justify-items: start;
}

h1 {
  color: var(--ca);
}

h2 {
  width: 100%;
  padding-top: 1rem;
  margin-top: 0.5rem;
  border-top: 0.1rem solid var(--cb2);
}

.only-mobile {
  display: none;
}

@media screen and (max-width: 720px) {
  .only-mobile {
    display: initial;
  }
}

/* --- 3. LAYOUT --- */
header {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  align-items: center;
  border-bottom: 0.1rem solid var(--cb2);
  background: var(--cb2);
  
  .home-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
    
    img {
      height: 1.5rem;
      width: auto;
    }
  }
  
  .clk-solid.profile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 0.2rem;
    font-weight: 900;
    font-size: 0.7rem;
  }
}

main {
  width: 100%;
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 15rem;
  gap: 1rem;
  padding: 1rem;
  
  .content {
    display: grid;
    width: 100%;
    padding: 0;
    padding-right: 1rem;
    gap: 1rem;
    padding-bottom: 25vh;
    height: 100%;
    overflow-y: scroll;
  }
  
  aside {
    padding: 0.5rem;
    background: var(--cb2);
    align-self: start;
    border-radius: 0.2rem
  }
  
  @media screen and (max-width: 720px) {
    & {
      grid-column: 1 / -1;
      grid-template-columns: 1fr;
    }
    
    .content {
      padding-right: 0;
    }
    
    aside {
      display: none;
    }
  }
}

main .content::-webkit-scrollbar {
  width: 0.25rem;
}
    
main .content::-webkit-scrollbar-track {
  margin: 1rem 0;
  background: transparent;
}

main .content::-webkit-scrollbar-thumb {
  background: var(--cb2);
  border-radius: 10px;
}

nav.main-menu {
  width: 100%;
  padding: 2rem 3rem 2rem 1rem;
  border-right: 0.1rem solid var(--cb2);
  background: var(--cb2);
  
  .link-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  label {
    display: none;
  }
  
  input {
    display: none;
  }
  
  @media screen and (max-width: 720px) {
    & {
      border-right: none;
      position: fixed;
      width: 100%;
      bottom: 0;
      padding: 1rem;
    }
    
    label {
      display: block;
    }
    
    .link-list {
      display: none;
    }
    
    input:checked + .link-list {
      display: flex;
      position: fixed;
      bottom: 3.5rem;
      width: 100%;
      left: 0;
      background: var(--cb2);
      padding: 2rem 1rem;
    }
  }
}

/* --- 4. COMPONENTS --- */
.clk-inline {
  color: var(--ca);
}

.clk-solid {
  display: inline-flex;
  background: var(--ca);
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  align-content: center;
  align-items: center;
  color: var(--cb);
  border: 0.1rem solid var(--ca2);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.job-link-card {
  padding: 1.5rem 0.5rem;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto auto;
  gap: 0 1rem;
  text-decoration: none;
  border-top: 0.1rem solid var(--cb2);
  
  .logo {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    grid-row: span 2;
    background: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 0.25rem solid var(--cb2);
  }

  div {
    display: flex;
    align-items: center;
    gap: 0 0.5rem; 
    flex-wrap: wrap;
    
    em {
      font-size: 0.9rem;
    }
  }
  
  .match-score {
    background: var(--ca2);
    color: var(--ca3);
    font-size: 0.7rem;
    display: inline-block;
    padding: 0.2rem 0.4rem 0.15rem 0.5rem;
    border-radius: 0.1rem;
  }

  &:hover {
    color: var(--ca);
    
    .logo {
      border-color: var(--ca);
    }
  }
}

/* --- 5. PAGE-SPECIFIC --- */
/* Use prefixes to keep these isolated */
.custom-resume-hero {
  padding: 0.5rem;
  background: var(--ca3);
  border-radius: 0.2rem;
  display: grid;
  gap: 0.5rem;
  border: 0.1rem solid var(--cb2);
  
  form {
    display: inline-flex;
  }
}

.home-hero {
  height: 60vh;
  display: flex;
  align-items: center;
}

.job-page-hero {
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  align-content: center;
  gap: 1rem;
  
  padding: 1rem 0 2rem 0;
  border-bottom: 0.1rem solid var(--cb2);
    
  .logo {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    background: #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 0.1rem solid var(--cb2);
    grid-row: span 2;
  }
  
  h1 {
    font-size: 1.2rem;
    align-self: center;
  }
  
  .attr {
    display: flex;
    align-items: center;
    gap: 0 0.5rem; 
    flex-wrap: wrap;
    
    em {
      font-size: 0.9rem;
    }
  }
}

.job-page-actions {
  display: grid;
  justify-items: start;
  gap: 1rem;
  padding: 0.5rem;
  
  .match-score {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0.75rem;
    border: 0.3rem solid var(--cp);
    border-radius: 0.2rem;
  }
  
  .match-score span {
    font-size: 1.66rem;
    font-weight: 900;
  }
  
  .match-score em {
    font-size: 0.8rem;
  }
}

.profile-resume {
  iframe.current-resume {
    width: 100%;
    height: 100vh;
  }
}