<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{{title}}</title>
  
  <meta name="description" content="{{description}}">
  
  <link rel="shortcut icon" type="image/png" href="{{request.client.favicon_url}}">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

  <header>
    <a href="/" class="home-link">
      <img src="{{request.client.logo_url}}"/>
      <span>{{request.client.name}}</span>
    </a>
    <nav class="main-nav">
      {% if request.user %}
        <a href="/profile" class="clk-solid">
          ☰&nbsp {{request.user.name}}
        </a>
      {% else %}
        <a href="/login" class="clk-solid">Login</a>
      {% endif %}
    </nav>
  </header>

  <main>
    {{content | safe}}
  </main>

  <footer>
    <p>Powered by Xerowork</p>
  </footer>

</body>
</html>