<div class="content">
  <section>
    <h1>Applied Jobs</h1>
    {% if jobs %}
    <section class="jobs-list">
      {% for job in jobs %}
        {% with job=job %}
          {% include 'components/job_link_card.html' %}
        {% endwith %}
      {% endfor %}
    </section>
    {% else %}
    <p>
      <em>
        💡 When you finish applying to a job, you can mark it as applied. 
        <br><br>  
        Jobs you've marked as applied will appear here for you to track / follow-up.
      </em>
    </p>
    {% endif %}
  </section>
</div>