<div class="content">
  <section>
    <h1>
      <img src="/static/icons/doc-spanner.png">
      <span>Jobs You Customized Resumes For</span>
    </h1>
    {% if jobs %}
    <section class="jobs-list">
      {% for job in jobs %}
        {% with job=job %}
          {% include 'components/job_link_card.html' %}
        {% endwith %}
      {% endfor %}
    </section>
    {% else %}
    <p>
      <em>
        💡 When you view a job posting, you can have our AI customize your resume to sell yourself better for that job description. 
        <br><br>  
        Jobs for which you prepare custom resumes will appear here.
      </em>
    </p>
    {% endif %}
  </section>
</div>