<div class="content">
  {% if request.user %}
    {% if customized %}
      <h1>
        <img src="/static/icons/target.png">
        <span>Curated Jobs For {{request.user.name}}</span>
      </h1>
    {% else %}
      <h1>Latest Jobs</h1>
      <p>
        We can create a customized job feed matching your resume!
      </p>
      <p>
        <a href="/profile#resumeupload" class="clk-solid">
          Upload Resume Now
        </a>
      </p>
    {% endif %}
    
    <section>
      {% include "components/job_feed_filters.html" %}
    </section>
  
    <section class="jobs-list">
      {% for job in jobs %}
        {% with job=job %}
          {% include 'components/job_link_card.html' %}
        {% endwith %}
      {% endfor %}
    </section>
  {% endif %}
</div>