<div class="content">
  <section>
    <a href="javascript:history.back()" class="clk-inline">
      <img src="/static/icons/left.png"
      <span>Back</span>
    </a>
  </section>
  <section class="job-page-hero">
    <img src="{{job.org_logo}}" class="logo"/>
    <h1>{{job.title}}</h1>
    <div class="attr">
      {% if job.match_score %}
        <span>
          <img src="/static/icons/target.png">
          <em>{{job.match_score}}%</em>
        </span>
      {% endif %}
      <span>
        <img src="/static/icons/org.png">
        <em>{{job.org_name}}</em>
      </span>
      <span>
        <img src="/static/icons/location.png">
        <em>{{job.loc_str}}</em>
      </span>
      <span>
        <img src="/static/icons/calendar.png">
        <em>{{job.fmt_time_ago}}</em>
      </span>
    </div>
  </section>
  <section>
    {% include "components/job_page_actions.html" %}
  </section>
  <section class="job-page-description">
    {{ job.description | safe }}
  </section>
  <section>
    {% include "components/job_page_actions.html" %}
  </section>
  <section class="jobs-list">
    <h3>Similar Jobs</h3>
    {% for job in similar_jobs %}
      {% with job=job %}
        {% include 'components/job_link_card.html' %}
      {% endwith %}
    {% endfor %}
  </section>
</div>