<section class="job-page-hero">
  <img src="{{job.org_logo}}" class="logo"/>
  <h1>{{job.title}}</h1>
  <div class="attr">
    <em>👥 {{job.org_name}}</em>
    <em>📍 {{job.loc_locality}}</em>
    <em>🗓️ {{job.fmt_time_ago}}</em>
  </div>
</section>
<section class="job-page-actions-container">
  <div class="job-page-actions">
    {% if job.match_score %}
      <em>🌟 {{job.match_score}}% Match</em>
    {% endif %}
    <a href="{{job.url}}" class="clk-solid" target="_blank">Apply Now</a>
    <form action="/customize-resume/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">✨ Customize Resume</button>
    </form>
  </div>
</section>
<section class="job-page-description">
  {% for line in job.description.split("\n") %}
    <p>{{line}}</p>
  {% endfor %}
</section>
