<div class="content"> 
  <section class="job-page-hero">
    <img src="{{job.org_logo}}" class="logo"/>
    <h1>{{job.title}}</h1>
    <div class="attr">
      {% if job.match_score %}
        <em>🌟 {{job.match_score}}% Match</em>
      {% endif %}
      <em>👥 {{job.org_name}}</em>
      <em>📍 {{job.loc_locality}}</em>
      <em>🗓️ {{job.fmt_time_ago}}</em>
    </div>
  </section>
  <section>
    {% include "components/job_page_actions.html" %}
  </section>
  <section class="job-page-description">
    {% for line in job.description.split("\n") %}
      <p>{{line}}</p>
    {% endfor %}
  </section>
  <section>
    {% include "components/job_page_actions.html" %}
  </section>
  <section class="jobs-list">
    <h3>Similar Jobs</h3>
    {% for job in similar_jobs %}
      {% with job=job %}
        {% include 'components/job_link_card.html' %}
      {% endwith %}
    {% endfor %}
  </section>
</div>