<div class="content">
  <section>
    <h1>
      <img src="/static/icons/star.png">
      <span>Starred Jobs</span>
    </h1>
    {% if jobs %}
    <section class="jobs-list">
      {% for job in jobs %}
        {% with job=job %}
          {% include 'components/job_link_card.html' %}
        {% endwith %}
      {% endfor %}
    </section>
    {% else %}
    <p>
      <em>
        💡 When you view a job posting, you can star it to revisit it later. Your starred jobs will also be used to tailor job recommendations for you. 
        <br><br>  
        Jobs you star will appear here.
      </em>
    </p>
    {% endif %}
  </section>
</div>