<div class="job-page-actions">
  <div>
    {% if not user_job.applied_at %}
    <a href="{{job.url}}" class="clk-solid" target="_blank">Apply Now</a>
    {% endif %}
    
    {% if user_job.applied_at %}
    <form action="/mark-unapplied/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">Applied ❌</button>
    </form>
    {% else %}
    <form action="/mark-applied/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">✅ Mark As Applied</button>
    </form>
    {% endif %}
    
    {% if user_job.starred_at %}
    <form action="/unstar-job/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">⭐ Starred</button>
    </form>
    {% else %}
    <form action="/star-job/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">⭐ Star</button>
    </form>
    {% endif %}
    
    {% if user_job.cr_generated_at %}
    <a href="/customize-resume/{{job.id}}" class="clk-solid">
      View Custom Resume
    </a>
    {% else %}
    <form action="/customize-resume/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">✨ Customize Resume</button>
    </form>
    {% endif %}
    
    
  </div>
</div>