<a href="/job/{{job.id}}" class="job-link-card">
  <img src="{{job.org_logo}}" class="logo"/>
  <div class="title">
    <b>{{job.title}}</b>
  </div>
  <div class="attr">
    {% if job.match_score %}
      <span>
        <img src="/static/icons/target.png">
        <em>{{job.match_score}}%</em>
      </span>
    {% endif %}
    <span>
      <img src="/static/icons/calendar.png">
      <em>{{job.fmt_time_ago}}</em>
    </span>
    <span>
      <img src="/static/icons/org.png">
      <em>{{job.org_name}}</em>
    </span>
    <span>
      <img src="/static/icons/location.png">
      <em>{{job.loc_str}}</em>
    </span>
  </div>
</a>