<div class="job-page-actions">
  <div>
    <a href="{{job.url}}" class="clk-solid" target="_blank">Apply Now</a>
    <form action="/customize-resume/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">Star</button>
    </form>
    <form action="/customize-resume/{{job.id}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="clk-solid">✨ Customize Resume</button>
    </form>
  </div>
</div>